.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;


    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-evenly;
    }
}

// @media(max-width: 660){
//   .h2 > span{
//       display: flex;
//       flex-direction: column;
//       font-size: 5px;
//   }
// }